# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

.DS_Store
/lastupdate.tmp
/default.etcd
/.idea
/action/action
/action/action.std
/src/dev.gopher.360baige.com3/action/action.std
/model/model
/controller/controller
